{% extends "base.html" %}

{% block content %}
{% if entries %}
    {% for blog in entries %}
        <div class="blog-post">
            <h2 class="blog-post-title"> <a href="/entry/{{ blog.title }}" >{{ blog.title }}</a></h2>
            <p class="blog-post-meta">Posted by <a href="#">{{ blog.name }}</a> on {{ locale.format_date(blog.published) }}</p>
            <p>{{ blog.slug }}</p>
        </div>
        <hr/>
    {% end %}
{% else %}
    {% raw zen %}
{% end %}
{% end %}

{% block footer %}
<footer class="blog-footer">
    <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p><a href="#">Back to top</a></p>
</footer>
{% end %}
